alembic==1.6.2
attrs==21.2.0
aws-psycopg2==1.2.1
click==8.0.0
colorama==0.4.4
feedparser==6.0.2
Flask==1.0.2
Flask-Migrate==2.5.2
flask-paginate==0.8.1
Flask-SQLAlchemy==2.5.1
greenlet==0.4.16
itsdangerous==2.0.0
Jinja2==3.0.0
jsonschema==3.2.0
Mako==1.1.4
MarkupSafe==2.0.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
sgmllib3k==1.0.0
six==1.16.0
SQLAlchemy==1.4.15
Werkzeug==2.2.3
black==21.7b0
requests
xmltodict
